<div class="form-group mb-2 ">
  <%= render LabelComponent::Base.new(label_options) %>

  <div class="mt-1">
    <%= field_tag field_name, value, options %>

    <% if error_message %>
      <div class="invalid-feedback" id="<%= options[:id] %>_error_message"><%= error_message %></div>
    <% end %>
  </div>
</div>
