<div class="mb-3 last:mb-0 form-group">
  <%= render LabelComponent::Base.new(label_id, label_options) %>

  <div class="mt-1">
    <%= field_tag name, value, options %>

    <% if error_message %>
      <div class="invalid-feedback" id="<%= name %>_error_message"><%= error_message %></div>
    <% end %>
  </div>
</div>
