<div>
  <%= label_tag text_field_options[:id], name.humanize, class: 'block text-sm font-medium text-gray-700' %>

  <div class="mt-1">
    <%= text_field_tag name, value, text_field_options %>
  </div>
</div>
