<div class="d-flex flex-column justify-content-center align-items-center">
  <h2><%= t('.sign_in') %></h2>

  <%= render AuthComponent::LogIn.new({
    resource: resource,
    as: resource_name,
    url: session_path(resource_name),
  }) %>
</div>
